swagger: "2.0"
info:
  description: "This is a sample server Petstore server.  You can find out more about     Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).      For this sample, you can use the api key `special-key` to test the authorization     filters."
  version: "0.0.1"
  title: "ManBlockchain"
  contact:
    email: "antal.janos.benjamin@gmail.com"
host: "randomuser.me"
tags:
- name: "api"
  description: "The very best API in the world"
schemes:
- "https"
paths:
  /api/:
    get:
      tags:
      - "api"
      summary: "Get new friend"
      description: ""
      produces:
      - "application/json"
      responses:
        405:
          description: "Invalid input"
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/User"
definitions:
  User:
    type: "object"
    properties:
      results:
        type: "array"
        items: 
          type: "object"
          properties:
            gender:
              type: "string"
            name:
              type: "object"
              properties:
                title:
                  type: "string"
                first:
                  type: "string"
                last:
                  type: "string"
            location:
              type: "object"
              properties:
                street:
                  type: "string"
                city:
                  type: "string"
                state:
                  type: "string"
                postcode:
                  type: "string"
            email:
              type: "string"
            login:
              type: "object"
              properties:
                username:
                  type: "string"
                password:
                  type: "string"
                salt:
                  type: "string"
                md5:
                  type: "string"
                sha1:
                  type: "string"
                sha256:
                  type: "string"
            dob:
              type: "string"
              format: ""
            registered:
              type: "string"
            phone:
              type: "string"
            cell:
              type: "string"
            id:
              type: "object"
              properties:
                name:
                  type: "string"
                value:
                  type: "string"
            picture:
              type: "object"
              properties:
                large:
                  type: "string"
                medium:
                  type: "string"
                thumbnail:
                  type: "string"
            nat:
              type: "string"
      info:
        type: "object"
        properties:
          seed:
            type: "string"
          results:
            type: "integer"
          page:
            type: "integer"
          varsion:
            type: "string"
externalDocs:
  description: "Find out more about randomuser generator"
  url: "https://randomuser.me"